<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Gabriela&display=swap" rel="stylesheet">
  <title>Express Dev-Skills Lab</title>
</head>
<body>
  <h1  class="center-align"> Skill #<%= skillNum %></h1>
  <h3  class="center-align"><%= skill.skill %></h3>
  <h3  class="center-align">Complete: <%= skill.done ? 'Yes' : 'No' %></h3>
  <a class="btn"  href="/skills/<%= skillNum - 1 %>/edit">Edit Skill</a>
</body>
</html>